body {
    background-color: #9B9B9B;
}

h5 {
    color: white;
    text-align: center;
    size: 20;
}

p {
    font-family: verdana;
    font-size: 20px;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 10;
    width: 100%;
    background-color: #333;
    border: 1px solid #bdbdbd;
}

li {
    display: inline-block;
    text-align: center;
}

li a {
    float: center;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
