body {
    background-color: #9B9B9B;
}

h5 {
    color: white;
    text-align: center;
    size: 20px;
}

p {
    font-family: verdana;
    font-size: 20px;
}

#nav {
    text-align: center;
    display:table;
    background-color: #333;
    padding: 0;
    border: 1px solid #bdbdbd;
    margin:0 auto;
    overflow: hidden;
    position: fixed;
    top: 10px;
    width: 100%;
}

#nav ul {
    list-style:none;
    display: inline-block;
}

#nav li {
    display: inline-block;
    text-align: left;
}

#nav li a {
    color: #FFFFFF;
    display: inline-block;
    text-align: left;
    padding: 15px 30px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#widget_box {
    position: fixed;
    text-align: center;
    display:table;
    padding: 0;
    margin:0 auto;
    top: 150px;
    height: 500px;
    display: inline-block;
    width: 100%;
    list-style:none;
}